<h1>Constants</h1>
<p>A list of constant values you can use throughout your application. The application can never change these values, only you can.</p>
<p>Constants are useful when you want to deploy one application in multiple environments and need different values. This could, for example, be folder or file names.</p>
<p>Once you have created a constant, you can select that value in some properties of controls.</p> 
<hr>
<img style="float:left;padding:0;margin:0 0 10px 10px;max-width:580px;width:100%;height:auto;" src="~/Images/constants.jpg" border="0">
<img style="float:left;padding:0;margin:0 0 10px 10px;max-width:580px;width:100%;height:auto;" src="~/Images/constants-select.png" border="0">