<h1>Events</h1>
<img style="float:right;padding:0;margin:0 0 10px 10px;max-width:400px;width:100%;height:auto;" src="~/Images/PageControls/events-panel.png" alt="" border="0">
<p>Stadium currently supports Page Click Events. These can be executed by a Button, Link or Data Grid Link Control. Each control can be linked to one script. Scripts can be linked to many controls on the same page.</p>
<p>The <em>Page Click Events Window</em> is docked bottom left by default. It is always visible when you are working on the page, or any script linked to a page. </p>
<p>View all the events on the page in the window and edit them as needed.</p>
<p>More events like <em>On load</em> and <em>Right Click</em> are planned for the future.</p>
<p>Click the <strong>Add new event</strong> link to map a control to a script.</p>
<hr>
<img style="float:left;padding:0;margin:0 10px 10px 0;max-width:400px;width:100%;height:auto;" src="~/Images/PageControls/events-window.png" alt="" border="0">
<p><em>Control</em> lists all controls on the page not yet linked to a script.</p>
<p><em>Script</em> lists all the scripts on the page.</p>
<p>If the script has parameters you will be able to map them to available form controls (Checkbox, Checkbox List, Date Picker, Dropdown, Radio Button List, Textbox), page parameters, queries and constants.</p>
<p>If the case of a Data Grid Link column, you can only map the parameters to Data Grid Row values.</p>
<hr style="clear:both;">
