<h1>Pages</h1>
<p>Pages contain the controls that make up each screen in your application. Decide what to put on each page and how to lay it out. Usually each page in the designer corresponds to a menu item in the UI</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Parameters</h4>
        Page parameters can be assigned values on a previous page and then use this value to control what content is generated on the destination page. You always set the destination page's parameters from the calling page
    </li>
    <li>
        <h4>Title</h4>
        Set a display title for the page. The title is placed in the title tag in the head of the HTML document. If no title is set for a page, the <a href="~/ApplicationExplorer/Application">Application Title</a> will be used in conjunction with the page name.
    </li>
</ol>
<hr>
<img src="~/Images/pages.jpg" border="0">