<h1>Call Web Service</h1>
<p>Use the Call Web Service component to call REST web services. Assign the result to a control on the page to show what the service returned.</p>
<p>API's by popular service provides, including Yahoo, Google, and Facebook, have implemented the REST model to expose their services.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Domain</h4>
        
    </li>
    <li>
        <h4>Password</h4>
        
    </li>
    <li>
        <h4>Type</h4>
        
    </li>
    <li>
        <h4>Username</h4>
        
    </li>
    <li>
         <h4>Output</h4>
        
    </li>
    <li>
        <h4>Body</h4>
        
    </li>
    <li>
        <h4>Body Format</h4>
        
    </li>
    <li>
        <h4>Headers</h4>
        
    </li>
    <li>
        <h4>Method</h4>
        
    </li>
    <li>
        <h4>Query String</h4>
        
    </li>
    <li>
        <h4>Timeout</h4>
        
    </li>
    <li>
        <h4>URL</h4>
        
    </li>
    <li>
        <h4>Bypass on local</h4>
        
    </li>
    <li>
        <h4>Host</h4>
        
    </li>
    <li>
        <h4>Port</h4>
        
    </li>
</ol>
<hr>
Read more about <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank" rel="noopener">REST</a>