<h1>Decision (If/Else)</h1>
<p>Evaluate a set of conditions that will execute the code in the IF statement when all the conditions are true. Specify an optional Else statement to execute if the IF conditions do not pass.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>If Conditions</h4>
        Set the conditions to evaluate to decide whether to execute the If Statement. Compare Script Variables and Input Parameters to each other and text values. Build up a collection of conditions using AND OR clauses to join them
    </li>
</ol>