<h1>Execute SQL</h1>
<p>Execute a predefined SQL Command to do something. Update, delete or add to your data</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Data Source</h4>
        Select the query to run when the component fires. You can use any valid SQL, including stored procedures for MSSQL.
    </li>
    <li>
        <h4>Input Parameters</h4>
        Set the input parameters for the query. Map them to Script Input Parameters, Variables or text
    </li>
    <li>
        <h4>Output Parameters</h4>
        Map any values returned from your query to Script Output Parameters or Variables
    </li>
</ol>