<h1>Get File</h1>
<p>Return a file to the user and decide whether to open it immediately or download it to the user's PC.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>File Path </h4>
        Full path including the name of the file
    </li>
    <li>
        <h4>File Options</h4>
        What should Stadium do with the file: 'Open', 'Open in a new Window' or 'Force Download'?
    </li>
</ol>