<h1>Notification</h1>
<p>Use the Notification component to give feedback in the form of a notification to the user. A notification is a fire-and-forget action. This means that it does not wait for the action to complete before moving on to the next action in the script. </p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Title</h4>
        The notification title
    </li>
    <li>
        <h4>Message</h4>
        The message of the notification
    </li>
    <li>
        <h4>Type</h4>
        The type defines the appearance of the notification.
    </li>
    <li>
        <h4>Close Button</h4>
        If this is ticked, the notification will display a close button. The notification only disappears once the close button is clicked.
    </li>
</ol>