<h1>Set Output Parameter</h1>
<p>Set an output parameter in a script to use a value returned from one action in another</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Output Parameters</h4>
        A list of parameters linked to the script which can be assigned to or concatenated with variables and script input parameters or text values
    </li>
</ol>