<h1>Variable</h1>
<p>Place a variable action anywhere in your script to be used by the other actions in the script. A variable can only be used by actions below the variable and in the same scope.</p>
<p>A variable can be initialised to a certain value or can be assigned later in the script.</p>
<hr>
<h2>Properties</h2>
<ol>
	<li>
		<h4>Value</h4>
		The value in which the variable will be initialised to.
	</li>
</ol>
