<h1>Bootstrap</h1>
<hr>
<p>Bootstrap is an HTML, CSS and JS framework to build responsive applications. Use the vanilla css provided or customise it to design your own themes. It is now one of the most popular front-end frameworks and open source projects available.</p>
<p>Stadium currently uses Bootstrap version 3.3.5 </p>
<p><a href="http://getbootstrap.com" target="_blank" rel="noopener">More about Bootstrap</a></p>