<h1>JQuery UI</h1>
<hr>
<p>jQuery UI is a curated set of user interface interactions, effects, widgets, and themes built on top of the jQuery JavaScript Library. </p>
<p>Stadium currently uses JQuery-UI version 1.10.2 (jquery-ui-1.10.2.min.js)</p>
<p><a href="http://jqueryui.com/" target="_blank" rel="noopener">More about JQuery-UI</a></p>