<h1>JQuery</h1>
<hr>
<p>jQuery is a multi-browser (cf. cross-browser) JavaScript library designed to simplify the client-side scripting of HTML. Used by over 65% of the 10,000 most visited websites, jQuery is the most popular JavaScript library in use today.</p>
<p>Stadium currently uses JQuery version 2 (jquery-2.0.0.min.js)</p>
<p><a href="http://jquery.com/" target="_blank" rel="noopener">More about JQuery</a></p>