
<h1>Data Grid</h1>
<p>A Data Grid should be used to display tabular data. In order to use a Data Grid, you need to create a connection and a query and capture these in the Data Grid properties panel.</p>
<hr>
<h2>Data Grid Properties</h2>
<p>In order to see the properties for the grid in the designer, as opposed to the properties for a column, you need to click outside of the table in the designer as shown below.</p>
<img src="~/Images/PageControls/table-select.png" border="0">
<p>A Data Grid selected. Now the properties panel shows the Data Grid properties.</p>
<ol>
    <li>
        <h4>Data Source</h4>
        <p>A Data Source is a query and connection. In order to display tabular data from a database, you nee to provide a data source.</p>
    </li>
    <li>
        <h4>Data Source Parameters</h4>
        <p>Some Data Sources require parameters to execute. You can pass parameters to the query by selecting these in the Data Source Parameters collection.</p>
    </li>
    <li>
        <h4>Allow Export</h4>
        <p>When this is on, users will see an export link that exports all data returned by the query to a Comma-separated values (CSV) file. The file will usually open in Excel by default.</p>
    </li>
    <li>
        <h4>Display Search Bar</h4>
        <p>Adds a search bar as shown below.</p>
    </li>
    <img src="~/Images/PageControls/table-search-bar.png" border="0">
</ol>
<hr>
<h1 id="DatagridSearchExamples">Datagrid Search Examples</h1>
<p>Some advanced search examples for the datagrid.</p>

<p><strong>Paris NOT London</strong><br>
<em>Returns rows that contain 'Paris', but excludes rows that contain 'London'</em></p>

<p><strong>NOT Berlin AND NOT London</strong><br>
<em>Excludes rows that contain 'Berlin' and excludes rows that contain 'London'</em></p>

<p><strong>NOT (Berlin OR London)</strong><br>
<em>Excludes rows that contain 'Berlin' and excludes rows that contain 'London'</em></p>

<p><strong>NOT (Berlin AND London)</strong><br>
<em>Excludes rows that contain both terms 'Berlin' and 'London'</em></p>

<p><strong>City: London</strong><br>
<em>Returns rows where the City field contains 'London'</em></p>

<p><strong>Capital\ City: Berlin (NOT City: London)</strong><br>
<em>Returns rows where the 'Capital City' field contains 'Berlin', but the 'City' field does not contain 'London'</em></p>

<p><strong>NOT Berlin AND City: NOT London</strong><br>
<em>Excludes rows that contain 'Berlin' and excludes rows where the city field contains 'London'</em></p>

<p><strong>NOT (Berlin AND City: London)</strong><br>
<em>Excludes rows that contain both the term 'Berlin' anywhere and 'London' in the 'City' field</em></p>

<p><strong>ID: [10 TO 20]</strong><br>
<em>Returns rows that contain IDs 10 through 20</em></p>

<p><strong>NOT (ID: {10 TO 20})</strong><br>
<em>Excludes rows that contain IDs 11 through 19</em></p>

<p><strong>DateOfBirth: {2017-03-01 TO 2017-03-15}</strong><br>
<em>Returns rows that contain dates in DateOfBirth column 2017-03-02 through 2017-03-14</em></p>

<hr>
<h1>Data Grid Column</h1>
<p>In order to manage the columns of a Data Grid, you can use the right-click menus provided on a Data Grid column. Right click on a column to change its position, delete it or add another column on either side of it</p>
<img src="~/Images/PageControls/table-column-rightclick.png" border="0">
<hr>
<h2>Data Grid Column Properties</h2>
<ol>
    <li>
        <h4>Data Field</h4>
        <p>The column data name.</p>
    </li>
    <li>
        <h4>Alignment</h4>
        <p>Where to align the cell data.</p>
    </li>
    <li>
        <h4>Cell Display</h4>
        <p>There are three modes of cell data display.</p>
        <ul>
            <li>
                Default<br>
                The cell data will not be formatted in any particular way. It will display as it comes from the database and will push the table out to fit the data.
            </li>
            <li>
                Wrap<br>
                The cell data will be wrapped. Use this option when your data could be quite big, but you don't want to push out the table vertically, but you are happy to push it out horizontally to accommodate the data.
            </li>
            <li>
                Elipsis<br>
                The cell data will be cut off and the complete cell data will be shown in a tooltip. Use this option when you want your table to remain a specific size.
            </li>
        </ul>
    </li>
    <li>
        <h4>Is Link</h4>
        <p>
            When you make a column into a link you can map it to a script in the Page <a href="~/ApplicationExplorer/Events">Click Event</a> window
        </p>
    </li>
    <li>
        <h4>Visible</h4>
        <p>This flag shows or hides the column.</p>
    </li>
</ol>
