<h1>Date Picker</h1>
<p>Date Picker generates a jquery date control with some tweaks. Select a date from the calendar control or enter it using the keyboard. Pass the value to a script on a Click Event triggered by a button or a link.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Display Value</h4>
        This Date will be shown in the date picker when the field loads. This default value that will be saved unless the user enters something else.
    </li>
    <li>
        <h4>Hint</h4>
        Some placeholder text that will show when the date picker is empty. This value is not saved if no other value is entered.
    </li>
	<li>
        <h4>Read-only</h4>
		Set to True if you want the control to display as read-only (value can't be changed) on the page.
	</li>
	<li>
        <h4>Visible</h4>
        Set to False if you don't want this control to render on the page and be visible to the user. In the near future, you will be able to use a script to make it visible when an event occurs.
    </li>
    <li>
        <h4>Show Current Date</h4>
        Display the current date by default
    </li>
    <li>
        <h4>Validations</h4>
        List of validations to apply to the input
    </li>
</ol>
<hr>
<h4>JQuery Script</h4>
<ol>
    <li style="margin:1px;">	function setDatePickerTodayClass() {</li>
    <li style="margin:1px;">	&nbsp;&nbsp;&nbsp;&nbsp;$('button.ui-Date Picker-current').removeClass('ui-priority-secondary').addClass('ui-priority-primary');</li>
    <li style="margin:1px;">	}</li>
    <li style="margin:1px;">	$(document).ready(function() {</li>
    <li style="margin:1px;">		&nbsp;&nbsp;&nbsp;&nbsp;$('#StartPage_DatePicker1').DatePicker({ showButtonPanel: true, dateFormat: 'yy/mm/dd', closeText: 'Close', changeMonth : true, changeYear : true, yearRange: "c-100:c+100" });</li>
    <li style="margin:1px;">		&nbsp;&nbsp;&nbsp;&nbsp;$('#StartPage_DatePicker1').focus(function () {</li>
    <li style="margin:1px;">	        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;setDatePickerTodayClass();</li>
    <li style="margin:1px;">	  &nbsp;&nbsp;&nbsp;&nbsp;  });</li>
    <li style="margin:1px;">	   &nbsp;&nbsp;&nbsp;&nbsp; $('#StartPage_DatePicker1').click(function () {</li>
    <li style="margin:1px;">	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       setDatePickerTodayClass();</li>
    <li style="margin:1px;">	&nbsp;&nbsp;&nbsp;&nbsp;    });</li>
    <li style="margin:1px;">	&nbsp;&nbsp;&nbsp;&nbsp;    $('#StartPage_DatePicker1').blur(function () {</li>
    <li style="margin:1px;">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        setDatePickerTodayClass();</li>
    <li style="margin:1px;">	&nbsp;&nbsp;&nbsp;&nbsp;    });</li>
    <li style="margin:1px;">	&nbsp;&nbsp;&nbsp;&nbsp;    $.DatePicker._gotoToday = function (id) {</li>
    <li style="margin:1px;">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        $(id).DatePicker("hide").DatePicker("setDate", new Date()).css('color', '');</li>
    <li style="margin:1px;">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		return false;</li>
    <li style="margin:1px;">	 &nbsp;&nbsp;&nbsp;&nbsp;   };</li>
    <li style="margin:1px;">&nbsp;&nbsp;&nbsp;&nbsp;$('#StartPage_DatePicker1').Watermark('');$('#StartPage_DatePicker1').DatePicker('setDate', new Date()).css('color', '');</li>
    <li style="margin:1px;">});</li>
</ol>
<hr>
