<h1>Layout Table</h1>
<p>Use the Layout Table control to get a grip on the layout of your content. You can use it to apply consistent spacing and organise the page contents. Right click on the table control to add and remove columns and rows.</p>
<hr>
<h2>Table Layouts</h2>
<p>To lay out a page section with the table control, simply drag a control into a cell.</p>
<img src="~/Images/PageControls/tbl-column-with-control.png" border="0">
<hr>
<h2>Column Management</h2>
<p>In order to manage the columns of a Table, you can use the right-click menus provided on a Table column. Right click on a column to change its position, delete it or add another column on either side of it</p>
<img src="~/Images/PageControls/tbl-column-rightclick.png" border="0">
