<h1>Link</h1>
<p>A Stadium link control renders as a standard &lt;a /&gt; tag.</p>
<p><strong>To make the link work, attach a <a href="~/pagescripts">script</a> to the link click event in the <a href="~/ApplicationExplorer/Events">Events Panel</a>.</strong></p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Text</h4>
        The text to be shown in the link.
    </li>
</ol>
<hr>
