<h1>Menu</h1>
<p>Use a Menu to navigate your user around the application. Add as many menu items as you need and group into main and sub menus. Add a menu structure on every page that needs navigation.</p>
<p>Stadium currently provides two options for rendering menus. Left-to-right and top-to-bottom. Both menus are multi-level drop-down menus as you can see further below.</p>
<p>A menu renders as a unordered list &lt;ul /&gt; tag. It does not have a wrapper div like other controls do. The standard classes of ControlContainer and MenuContainer also do not apply to menus.</p>
<p>Menus are not rendered using Javascript, but only CSS. Review the stylesheet to get a deeper understanding of how the menu renders and behaves.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Direction</h4>
        You can create a left-to-right or a top-to-bottom layout for this menu.
    </li>
    <li>
        <h4>Items</h4>
        A collection of all the items in your menu. Add new items, edit existing items and change the order and grouping in the <em>Menu Item Editor</em>. You can create unlimited levels of items with this menu.
    </li>
</ol>
<hr>
<h2>Menu Management</h2>
<p>In order to see the properties on the Menu click outside the menu items as shown below</p>
<img src="~/Images/PageControls/menu-selected.png" border="0">
<p>To see the properties of the individual menu items click on the item. Left click on a Parent Item to see its children. </p>
<img src="~/Images/PageControls/menu-items-view.png" border="0">
<p>Right click on an item to add other items and edit the layout</p>
<img src="~/Images/PageControls/menu-item-rightclick.png" border="0">
<hr>
<h2>Render Options</h2>
<p>The sub-items for the left-to-right menu are shown below that menu. </p>
<img src="~/Images/PageControls/menu-left-to-right.png" border="0">
<p>The sub-items for the top-to-bottom menu are shown to the right of that menu. </p>
<img src="~/Images/PageControls/menu-top-to-bottom.png" border="0">
<p>
    Individual menu items also have two properties that you can see when you click on a specific menu item, rather than the menu box around the items.
    <ul>
        <li>Destination Page<br>You can enter an absolute or a relative link in the textbox or select a dynamic value from the drop-down. </li>
        <li>Text<br>The text shown on this menu item.</li>
    </ul>
</p>
<img src="~/Images/PageControls/menu-link.png" border="0">
<hr>
<h2>Menu Item Editor</h2>
<p>Stadium contains a tool, called the <em>Menu Item Editor</em>, to assist with the management of menu items. In this tool you can define all items for a menu as well as the text and link for each one. You can add a separator between two items in a sub-menu to visually separate them.</p>
<img src="~/Images/PageControls/menu-item-editor.png" border="0">
<hr>