<h1>Upload File</h1>
<p>The Upload File control allows users to upload files to the server. Browse to a file and upload it to a predefined location. Allows a user to, for example, save a file they received on email to a central storage location quickly and easily.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Destination Path</h4>
        The path to the folder where the files are stored.
    </li>
    <li>
        <h4>FileExists</h4>
        What to do when a file with that name already exists in the specified server location.
        <ul>
            <li><strong>Show Error</strong> Tell the user the file exists and don't do anything</li>
            <li><strong>Overwrite</strong> Overwrite the existing file</li>
            <li><strong>Incremental</strong> Save the uploaded file with a number appended to the name</li>
        </ul>
    </li>
</ol>
<hr>
<h2>Error Messages:</h2>
<ol>
	<li>
		<h4>File must be smaller than x MB</h4>
		If this value has to be increased, change the maxRequestLength value in the web.config of the generated application. The maxRequestLength is specified in kilobytes and defaults to 4096 KB (4 MB). See <a href="https://msdn.microsoft.com/en-us/library/system.web.configuration.httpruntimesection.maxrequestlength(v=vs.110).aspx">here</a> for more information on maxRequestLength.
		<code>
			<pre>
		&lt;configuration&gt;
			&lt;system.web&gt;
				&lt;httpRuntime targetFramework="4.6" maxRequestLength="153600" /&gt;
			&lt;/system.web&gt;
		&lt;/configuration&gt;
			</pre>
		</code>
	</li>
	<li>
		<h4>Error</h4>
		This could be caused by a number of reasons, of which one could be that the maxAllowedContentLength is not large enough. Increasing this value in the web.config of the generated application could resolve the issue. The maxAllowedContentLength is specified in bytes and defaults to 30000000 (28.6 MB). See <a href="https://msdn.microsoft.com/en-us/library/ms689462(v=vs.90).aspx">here</a> for more information on maxAllowedContentLength.
		<code>
			<pre>
		&lt;configuration&gt;
			&lt;system.webServer&gt;
				&lt;security&gt;
					&lt;requestFiltering&gt;
						&lt;requestLimits maxAllowedContentLength="30000000" /&gt;
					&lt;/requestFiltering&gt;
				&lt;/security&gt;
			&lt;/system.webServer&gt;
		&lt;/configuration&gt;
			</pre>
		</code>
	</li>
</ol>
<hr>
