<form class="bd-search d-flex align-items-center">
  <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
  <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
    {% include icons/menu.svg width="30" height="30" %}
  </button>
</form>

<nav class="collapse bd-links" id="bd-docs-nav">
  {%- assign page_slug = page.url | split: '/' | last -%}
  {%- for group in site.data.nav -%}
  {%- assign link = group.pages | first -%}
  {%- assign link_slug = link.title | slugify -%}
  {%- assign group_slug = group.title | slugify -%}
  {%- assign active = nil -%}
  {%- assign docs = 'docs/' -%}
  {%- if group.project == true -%}
    {%- assign docs = '' -%}
  {%- endif -%}

  {%- if page.group == group_slug -%}
    {%- assign active = 'active' -%}
  {%- endif -%}

  <div class="bd-toc-item{% unless active == nil %} {{ active }}{% endunless %}">
      <a class="bd-toc-link" href="{{ site.baseurl }}/{{ docs }}{{ group_slug }}/{{ link_slug }}{% if link_slug %}/{% endif %}">
        {{ group.title }}
      </a>

      <ul class="nested">
        {%- for doc in group.pages -%}
          {%- assign doc_slug = doc.title | slugify -%}
          {%- assign active = nil -%}

          {%- if page.group == group_slug and page_slug == doc_slug -%}
            {%- assign active = 'active bd-sidenav-active' -%}
          {%- endif -%}
          <li{% unless active == nil %} class="{{ active }}"{% endunless %}>
            <a class="bd-toc-link" href="{{ site.baseurl }}/{{ docs }}{{ group_slug }}/{{ doc_slug }}/">
              {{ doc.title }}
            </a>

            {%- comment -%}
            {% unless doc.sections == nil %}
              <ul class="">
                {% for section in doc.sections %}
                  <li>
                    <a class="bd-toc-link" href="#{{ section.title | downcase | replace: ' ', '-' }}">
                      {{ section.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endunless %}
            {%- endcomment -%}
          </li>
        {%- endfor -%}
     
          {%- for feature in group.features -%}
            {%- assign active = nil -%}
            {%- if page.feautre == feature.feature -%}
              {%- assign active = 'active bd-sidenav-active' -%}
            {%- endif -%}

            {%- assign firstComponent = feature.components | first -%}
            {%- assign firstComponentPage  = firstComponent.pages | first -%}
            <li class="{{ active }}">
                <a class="bd-toc-link" href="{{ site.baseurl }}/{{ docs }}{{ group_slug }}/{{ feature.feature }}/{{ firstComponent.component }}/{{ firstComponentPage.title }}">
                 {{ feature.feature }}
              </a>

            {%- for component in feature.components -%}

              {%- assign componentPage  = component.pages | first -%}
            
              {%- if page.component == component.component -%}
                  <ul class="nested">
                      {%- for current in feature.components -%}
                      {%- assign active = nil -%}
                      {%- if current.component == page.component -%}
                          {%- assign active = 'active' -%}
                      {%- endif -%}
                        <li{% unless active == nil %} class="{{ active }}"{% endunless %}>
                          {%- assign currentPage  = current.pages | first -%}
                    
                        <a class="bd-toc-link" href ="{{ site.baseurl }}/{{ docs }}{{ group_slug }}/{{ feature.feature }}/{{ current.component }}/{{ currentPage.title }}">
                          {{ current.component }}</a>
                          </li>
                      {%- endfor -%}
          
                      </ul>
              {%- endif -%}
                
              </li>
              {%- endfor -%}
          {%- endfor -%}
       
      </ul>
    </div>
  {%- endfor -%}
</nav>
