<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Twenty57.Linx.Plugin.Common" version="16.0.2.228" targetFramework="net45" />
  <package id="Twenty57.Linx.Plugin.UI" version="16.0.2.228" targetFramework="net45" />
  <package id="Twenty57.Linx.Plugin.Utilities" version="1.0.6437.23198" targetFramework="net45" />
</packages>