<h1>DataSources</h1>
<p></p> 
<p>We currently support Microsoft SQL and Oracle databases natively, but you can also use ODBC to fetch data from any data source that supoprts it. In the future, we will also support fetching data from Web Services as Json. </p> 
<p>Add a DataSource by defining a <a href="~/ApplicationExplorer/Connections">database connection</a> and a <a href="~/ApplicationExplorer/Queries">query</a>.</p>
<img src="~/Images/PageControls/Query-add.png" alt="" border="0">
<hr>

