<h1>Scripts</h1>
<p>Scripts contain all the logic and code which executes when an event is triggered. Currently Stadium allows you to hook an event onto a Button or Link Click Event. You can build up a flow of steps to complete what you need to do, write to a SQL Database, get a file, navigate to a different page, call a webservice, prompt the user to make a decision (message box) and do basic IF/Else programming. Scripts belong to a page and can be linked to multiple controls on the same page. </p>
<p>Here is a list of all actions currently available in the visual scripting module in Stadium.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Parameters</h4>
        Exposes the script to the page and allows data to be passed from the controls to the actions within the script and back again
    </li>
    <li>
        <h4>Variables</h4>
        Variable which is only available within a script. Can be assigned a default value and the value changed and used by the actions executed
    </li>
</ol>
<hr>
<img src="~/Images/script-view1.jpg" border="0">