<h1>ForEach</h1>
<p>Loop through a comma separated list of values and for each value do a certain action. It is designed to process the multiple options from a Checkbox List.</p>
<p>All other actions can be nested in a ForEach loop and will behave according to standard javascript. Actions like ExecuteSQLCommand, CallWebService and Decision are the more logical choices. </p>
<p>The output from the ForEach Loop (ForEach1.ForEach1CurrentLoopValue) is the input for the nested actions</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>List</h4>
		The comma array separated list of values to loop through and perform the nested actions on. Accepts a Script Input Parameter or a Script Variable.        
    </li>
</ol>