<h1>Message Box</h1>
<p>Display a message box and prompt the user for action. Execute specific actions based on the user's response</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Buttons</h4>
        Select which buttons to display on the message box:
    </li>
    <li>
        <h4>Message</h4>
        Message to prompt the user for action
    </li>
</ol>