<h1>Navigate To Page</h1>
<p>Allows for navigating to another page. Apart from the menu, this is currently the only way to navigate from one page to another. If you want to make a simple link, you have to attach a script to the Click event and make that script execute this component to navigate.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Destination</h4>
        Set the page to navigate to. It can either be another page within the application or an outside URL. Set using text, input parameters or script variables
    </li>
    <li>
        <h4>Destination Page Parameters</h4>
        Any parameters the destination page may require. 
    </li>
    <li>
        <h4>Open In New Window</h4>
        This flag defines whether the page will open in a new window or not
    </li>
</ol>