<h1>Set Value</h1>
<p>Set Value is used to set a property or script element to a specific value. It can be used to set Variables, Output parameters, Control properties, Web Service outputs and SQL outputs.</p>
<p>The elements can be set to Constants, Control display values, SQL Results, Web Service Results, Variables, Input Parameters, Page Parameters, ForEach Result Loop (if applicable) and text.</p>
<hr>
<h2>Properties</h2>
<ol>
	<li>
		<h4>Target</h4>
		The property or script element to be set.
	</li>
	<li>
		<h4>Value</h4>
		The value with which the target will be set to.
	</li>
</ol>