/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  font-color: #2d3e46;
  font-family: "Lato", sans-serif; }

html,
button,
input,
select,
textarea {
  color: #2d3e46;
  font-family: "Lato", sans-serif; }

textarea {
  outline: none;
  overflow: auto; }

body {
  line-height: 1.4;
  background-color: #fdfdfd;
  line-height: 1.4;
  font-size: 16px;
  font-size: 1.6rem; }

h1, h2, h3 {
  font-family: "Montserrat", sans-serif; }

a {
  text-decoration: underline;
  color: #2d3e46; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

ol {
  list-style-type: none;
  list-style-position: outside;
  margin-left: 0; }
  ol li {
    margin: 12px 0; }
    ol li ol {
      list-style-type: none; }
      ol li ol li {
        margin: 8px 0 8px 20px; }

.orderedList {
  list-style-type: decimal;
  list-style-position: outside;
  margin: 20px 20px 20px 40px; }
  .orderedList li {
    margin: 6px 0; }

img {
  max-width: 1240px;
  height: auto; }

pre {
  margin-top: 6px; }

.search-input {
  background: #fdfdfd url(../Images/search-white.png) no-repeat 10px 6px;
  border: 1px solid #2d3e46;
  color: #2d3e46;
  width: 150px;
  padding: 6px 15px 6px 35px;
  margin: 0 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  outline: none; }

.feature-block {
  display: inline-block;
  vertical-align: text-top;
  text-align: center; }

nav {
  position: relative;
  top: 34px; }
  nav ul#menu, nav ul#menu ul.sub-menu {
    padding: 0;
    margin: 0;
    min-width: 400px;
    z-index: 1;
    background-color: #008098; }
  nav ul#menu li, nav ul#menu ul.sub-menu {
    list-style-type: none;
    display: inline-block;
    float: left;
    margin-right: 5px; }
  nav ul#menu li a {
    display: inline-block;
    background-color: #008098;
    color: #fdfdfd;
    display: block;
    padding: 5px;
    height: 22px;
    break-inside: avoid; }
  nav ul#menu li a {
    text-decoration: none; }
  nav ul#menu li a:hover {
    color: #2d3e46;
    background-color: #E5E5E5; }
  nav ul#menu li {
    position: relative; }
  nav ul#menu li ul.sub-menu {
    border-top: 1px solid #fdfdfd;
    box-shadow: 3px 3px 4px #2d3e46;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    column-count: 2;
    column-gap: 2px;
    column-rule: 2px solid #fdfdfd;
    column-fill: auto;
    -webkit-column-count: 2;
    /* Safari and Chrome */
    -webkit-column-gap: 2px;
    /* Safari and Chrome */
    -webkit-column-rule: 2px solid #fdfdfd;
    z-index: 2; }
    nav ul#menu li ul.sub-menu li {
      height: 34px;
      line-height: 28px;
      width: 100%; }
    nav ul#menu li ul.sub-menu li a {
      max-height: 27px;
      line-height: 27px; }
  nav ul#menu li ul.small {
    column-count: 1;
    -webkit-column-count: 1;
    /* Safari and Chrome */
    min-width: 160px;
    -webkit-column-rule: none; }
  nav ul#menu li:hover ul.sub-menu {
    display: block; }

#logo {
  float: left;
  width: 200px;
  height: 66px;
  background: url(../Images/logo.png) no-repeat 8px center; }

#menu-top {
  float: right;
  color: #fdfdfd;
  margin-right: 20px; }
  #menu-top .printPage {
    cursor: pointer;
    margin: 0;
    padding: 8px 4px;
    background-color: #008098;
    color: #fdfdfd; }
  #menu-top a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    padding: 12px 4px;
    background-color: #008098;
    color: #fdfdfd; }
  #menu-top a:hover {
    text-decoration: underline;
    background-color: #E5E5E5;
    font-weight: bold; }

header {
  margin: 0 auto;
  width: 1240px;
  position: relative;
  height: 66px;
  background-color: #01c9ea; }

button {
  background-color: #E5E5E5;
  color: #2d3e46;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 8px;
  font-weight: 600;
  cursor: pointer; }

/* search page */
#searchSummary {
  margin-bottom: 10px;
  color: #565f63; }

.resultItem {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
  padding-bottom: 10px; }
  .resultItem .resultsTitle {
    display: block; }
  .resultItem .resultLink {
    text-decoration: none;
    margin-bottom: 4px;
    display: block;
    color: #989898; }
  .resultItem .resultLink:hover {
    text-decoration: underline; }

b {
  font-weight: bold; }

/* search page end */
#main #content {
  width: 1240px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #main #content ul {
    list-style-type: disc;
    margin-left: 12px; }
    #main #content ul li {
      margin: 4px 0; }
  #main #content img:not(.icon-64) {
    max-width: 740px;
    height: auto;
    border: 1px solid #E5E5E5; }
  #main #content h1 {
    font-size: 3.2rem;
    margin-bottom: 12px;
    color: #2d3e46; }
    #main #content h1 a[name] {
      text-decoration: none; }
  #main #content h2 {
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 6px;
    color: #2d3e46; }
    #main #content h2 a[name] {
      text-decoration: none;
      font-size: 2.8rem; }
  #main #content h3 {
    font-size: 2.4rem;
    margin-top: 12px;
    margin-bottom: 2px;
    border-bottom: 1px dashed #2d3e46;
    color: #2d3e46; }
    #main #content h3 a[name] {
      text-decoration: none; }
  #main #content h4 {
    font-size: 2rem;
    font-style: italic;
    margin-top: 6px;
    margin-bottom: 2px; }
    #main #content h4 a[name] {
      text-decoration: none; }
  #main #content h5 {
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: 600; }
  #main #content img {
    margin: 8px 0; }
  #main #content img[align=left] {
    margin: 8px 8px 8px 0; }
  #main #content img[align=right] {
    margin: 8px 0 8px 8px; }
  #main #content .recommendation {
    border-radius: 12px;
    border: 3px solid #2d3e46;
    background: #f3f4b7 url(../../../Images/recommendation-alert.png) no-repeat 8px center;
    background-size: 24px 24px;
    height: 30px;
    line-height: 30px;
    padding: 6px 18px 8px 40px;
    margin: 16px 0;
    font-weight: 600;
    display: inline-block; }
  #main #content p {
    margin: 10px 0; }
#main .index-content-column {
  border-left: 1px solid #2d3e46;
  float: left;
  min-width: 200px;
  padding: 10px; }
#main .content-column {
  border-left: 1px solid #2d3e46;
  min-width: 200px; }
#main .index-content-column:first-child, #main .content-column:first-child {
  border-left: 0; }
#main .link-list {
  padding: 0 8px;
  margin-bottom: 20px; }
  #main .link-list a {
    display: block; }
  #main .link-list h1 {
    font-size: 3.2rem; }
  #main .link-list h2 a {
    font-size: 2rem; }
#main .icon-64 {
  height: 50px;
  width: 50px; }
#main .iconWrap {
  cursor: pointer;
  border-radius: 8px;
  float: left;
  text-align: center;
  background-color: #e1e1e1;
  height: 64px;
  width: 64px; }
#main .link-list-item {
  padding-left: 90px; }

footer {
  position: relative;
  width: 1240px;
  text-align: center;
  margin: 0 auto;
  background-color: #E5E5E5;
  color: #2d3e46; }
  footer .feature-block {
    width: 280px;
    text-align: left; }
  footer h2 {
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: left;
    font-size: 2.8rem; }
  footer a {
    color: #2d3e46;
    display: block;
    text-decoration: none; }

#copyright {
  display: none;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%; }

#contact-form {
  background-color: #565f63;
  height: 100%;
  padding: 0 0 30px 70px; }
  #contact-form input, #contact-form textarea {
    display: block;
    text-align: left;
    width: 190px;
    color: #2d3e46;
    background-color: #E5E5E5;
    border: 0;
    margin: 8px 0;
    padding: 4px; }
  #contact-form input {
    height: 42px;
    line-height: 42px; }
  #contact-form textarea {
    height: 80px; }
  #contact-form button {
    background-color: #fdfdfd;
    color: #2d3e46;
    width: 100px;
    margin: 8px 0; }
  #contact-form h2 {
    color: #fdfdfd; }
  #contact-form .overlay {
    background-color: #008098;
    width: 350px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 728px; }
  #contact-form .overlay span {
    color: #fdfdfd;
    font-weight: 600;
    z-index: 10;
    position: absolute;
    top: 200px;
    left: 40px; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #C9C9C9;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*mobile menu*/
#mobilemenu {
  display: none; }

#MobileMenuItems {
  position: fixed;
  left: -200px;
  top: 66px;
  width: 200px;
  height: 100%;
  background-color: #565f63;
  z-index: 20;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#MobileMenuContainer li a {
  display: block;
  padding-left: 4px;
  height: 40px;
  line-height: 40px;
  color: #fdfdfd; }

#MobileMenuContainer li a:hover {
  background-color: #E5E5E5;
  color: #2d3e46; }

/* Media Queries */
@media only screen and (max-width: 1256px) {
  html {
    font-size: 70%; }

  body {
    overflow-x: hidden;
    min-width: 300px; }

  #main #content img:not(.icon-64) {
    width: auto;
    max-width: 100%; }

  header, footer {
    width: 100%; }
    header .feature-block, footer .feature-block {
      max-width: 30%; }
    header .feature-block:first-child, footer .feature-block:first-child {
      margin-left: 20px; }

  #main {
    float: left;
    overflow: hidden;
    width: 100%;
    position: relative; }
    #main #content {
      width: 100%; } }
@media only screen and (max-width: 972px) {
  html {
    font-size: 76%; }

  #contact-form {
    padding: 0 10px; }
    #contact-form input, #contact-form textarea {
      width: 100%;
      min-width: 60px; } }
@media only screen and (max-width: 595px) {
  #logo {
    float: right; }

  #menu-top {
    display: none; } }
@media only screen and (max-width: 1193px) {
  nav {
    display: none; }

  header {
    position: fixed;
    z-index: 100; }

  #mobilemenu {
    display: inline-block;
    float: left;
    width: 100px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    cursor: pointer; }

  #main {
    padding-top: 66px; }

  #content {
    position: relative;
    display: inline-block;
    float: left;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    min-height: 250px; }

  html {
    min-height: 100%;
    position: relative; } }
@media only screen and (max-width: 395px) {
  #content {
    padding: 2px; }

  .search-input {
    display: none; }

  footer .feature-block {
    width: 50%; }
  footer .feature-block:first-child {
    margin: 0;
    padding: 0; } }
@media only screen and (max-width: 497px) {
  #contact-form {
    display: none; } }
@media only screen and (max-width: 317px) {
  #logo {
    display: none; } }
