<h1>Button</h1>
<p>Buttons have an <a href="~/ApplicationExplorer/Events">OnClick event</a> that you can hook up to a <a href="~/ApplicationExplorer/Scripts">script</a>. You can pass parameters to that script and get values generated in the script back. You need to set this event up in the <a href="~/ApplicationExplorer/Events">Events Panel</a> as events are no longer in the properties of the controls, but in a separate panel in the Designer.</p>
<p>If you want to create a <em>Submit</em> button to fetch a file from the server and provide it to the user as a download. You can do this by creating a script that contains an <em>Open File</em> component. The component will point to a file that the users will be prompted to download. </p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Text</h4>
        <p>The text on the button.</p>
    <li>
        <h4>Font</h4>
        <p>You can override the font for the button with your own style.</p>
    <li>
        <h4>Tool Tip</h4>
        <p>The tooltip that shows when users hover on the button.</p>
    </li>
</ol>