<h1>Checkbox</h1>
<p>Capture a True or False input from a user. Pass the value through to a script on a click event linked to a button or link control</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
<h4>Display Value</h4>
The value the user should see when the page loads for the first time. Choose from True, False or populate your checkbox with a bit/boolean value from your data. This value will be saved to your database unless the user changes it
</li>
	<li>
        <h4>Read-only</h4>
		Set to True if you want the control to display as read-only (value can't be changed) on the page.
	</li>
	<li>
        <h4>Visible</h4>
        Set to False if you don't want this control to render on the page and be visible to the user. In the near future, you will be able to use a script to make it visible when an event occurs.
    </li>
</ol>
