<h1>Drop Down</h1>
<p>A drop-down control renders to a standard HTML &lt;select /&gt; tag containing &lt;option /&gt; tags. You can populate the drop-down from a query or define a static list.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Options</h4>
        Specify a list of values to display in the control. It can be generated from a static list or from a query. Text is the field the user sees. Value is the field you want to save to your Database.<br>
        Values is a collection of name & value pairs. These will be injected into the &lt;option /&gt; tags in the select. The name being the display name and the value being the value attribute for an &lt;option /&gt; tag.
    </li>
    <li>
        <h4>Display Value</h4>
        This value will be shown in the drop down when the field loads. This default value that will be saved unless the user enters something else.
    </li>
    <li>
        <h4>Hint</h4>
        Some placeholder text that will show when the drop down is empty. This value is not saved if no other value is entered.
    </li>
	<li>
        <h4>Read-only</h4>
		Set to True if you want the control to display as read-only (value can't be changed) on the page.
	</li>
	<li>
        <h4>Visible</h4>
        Set to False if you don't want this control to render on the page and be visible to the user. In the near future, you will be able to use a script to make it visible when an event occurs.
    </li>
    <li>
        <h4>Validators</h4>
        Some validators that can be applied to the drop-down.
    </li>
</ol>
<hr>