<h1>Image</h1>
<p>Display a pre-chosen image to the user. Images are saved with your application and are always available unless removed from the Resource Collection</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
<h4>Image</h4>
Select an image on your PC to save to your application's Resource Collection and Display to the user.
</li>
<li><h4>Alt Text</h4>
Text to show the user if the image is not available for some reason
</li>
<li><h4>Height</h4>
Height the image should display at. If left empty (Default) it will display at its original height
</li>
<li><h4>Width</h4>
Width the image should display at. If left empty (Default) it will display at its original width
</li>
</ol>
