<h1>Label</h1>
<p>A Stadium label control renders as a standard &lt;span /&gt; tag. Custom font styles are placed in a style attribute in the span tag (inline). Such custom font styles will always override your stylesheet. You can change the label text by assigning a new value to the label in a <a href="~/pagescripts">script</a>. </p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Text</h4>
        The text to be shown in the label.
    </li>
    <li>
        <h4>Font</h4>
        Optional font styles to override stylesheet defaults.
    </li>
</ol>
<hr>