<h1>Panel</h1>
<p>You can use a panel control to group other controls together. A panel can optionally also have a title.</p>
<p>You can override the default Panel border colour in the properties and set a title.</p>
<p>You can also set the panel to be invisible when loading the screen and use a script to make it visible when some event occurs on the page. </p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Border Colour</h4>
        This colour will override the default border colour.
    </li>
    <li>
        <h4>Title</h4>
        A standard fieldset title.
    </li>
	<li>
        <h4>Read-only</h4>
		Set to True if you want the control to display as read-only (value can't be changed) on the page.
	</li>
	<li>
        <h4>Visible</h4>
        Set to False if you don't want this control to render on the page and be visible to the user. In the near future, you will be able to use a script to make it visible when an event occurs.
    </li>
</ol>
<hr>