<h1>TextBox</h1>
<p>Capture a text input from a user and pass it through to a script using the click event on a button or link.</p>
<p>You can use a textbox as a single-line input field or as a multi-line field. Use a <a href="~/pagescripts">script</a> to capture the values from this field.</p>
<hr>
<h2>Properties</h2>
<ol>
    <li>
        <h4>Display Value</h4>
        This text will be shown in the TextBox when the field loads. This default value that will be saved unless the user enters something else.
    </li>
    <li>
        <h4>Hint</h4>
        Some placeholder text that will show when the textbox is empty. This value is not saved if no other value is entered.
    </li>
    <li>
        <h4>IsPassword</h4>
        If you check this checkbox the contents of the TextBox will be stars, but the value can still be captured in a script.
    </li>
	<li>
        <h4>Read-only</h4>
		Set to True if you want the control to display as read-only (value can't be changed) on the page.
	</li>
	<li>
        <h4>Visible</h4>
        Set to False if you don't want this control to render on the page and be visible to the user. In the near future, you will be able to use a script to make it visible when an event occurs.
    </li>
    <li>
        <h4>Validations</h4>
        Validations you can apply to the TextBox. These will be evaluated on submit of the field.
    </li>
    <li>
        <h4>Visible Lines</h4>
        Set the height of the TerxtBox in lines. Password will always be 1, no matter what is set here.
    </li>
</ol>
<hr>