@{
    ViewBag.Title = "Releasenotes";
}

<h1>Release Notes</h1>

@foreach (var item in Stadium5Help.Models.Section.Releasenotes)
{
    <hr>
    <div class="link-list-item">
        <h5>@item.DisplayName</h5>
        @foreach (var descriptionPart in item.Description)
        {
            if (descriptionPart.IsHtml)
            {
                @Html.Raw(descriptionPart.Value)
            }
            else
            {
                @descriptionPart.Value
            }
        }
    </div>
    <div class="clearfix"></div>
}

<hr>