<h1>Stadium 5</h1>

<img src="~/Images/StadiumApplication.png" alt="" border="0" style="float:right;margin:0 0 20px 20px;">
<p>Stadium is a web application designer and generator. Anyone can use Stadium to easily and quickly design and generate professional ASP.NET MVC 5 Web Applications, even with very little knowledge about web development.</p>

<p><strong><a href="http://stadium.twenty57.com/" target="_new">Try Stadium beta now - for free</a></strong></p>

<hr>
<h2>Design</h2>
<p>Create professional web applications in four easy steps</p>

<ol class="orderedList">
	<li>Create web pages with one click, then drag controls, such as Data Grids, Form Fields, Labels, Buttons and the like onto these pages.</li>
	<li>Connect to databases, write your SQL queries and populate controls with your data. </li>
	<li>Create Javascripts by dragging actions into a visual script builder. </li>
	<li>Define events for controls and attach them to your scripts. </li>
</ol>

<p><strong><a href="~/HowItWorks/StadiumDesigner">Check out the Stadium Designer</a></strong></p>

<hr>
<img src="~/Images/PageControls/application-rendered.png" alt="" border="0" style="float:right;margin:0 0 20px 20px;">
<h2>Generate</h2>
<p>Finally, generate the application simply by clicking the <strong>"Generate & Browse"</strong> button and Stadium will generate this for you:</p>

<ol class="orderedList">
	<li>A folder in <strong>C:\Stadium 5 Web Apps\[ApplicationName]</strong> containing all the files of your ASP.NET MVC 5 Web Application. This folder contains a Visual Studio (VS) Solution complete with C# source code and cstml files of all HTML views.</li>
	<li>An application in Microsoft's Internet Information Server (IIS) that points to <strong>http://localhost/[ApplicationName]</strong></li>
</ol>

<p>Your default browser will then open and take you to your Stadium web application.</p>

<p>You do not need to install IIS. Stadium will install IIS Express if IIS is not installed already.</p>

<hr>
<h2>Customise</h2>

<p>You can also open the generated solution in any of the more recent versions of VS or VS Express and continue developing your application from here. We also provide a couple of hooks into the application where you can write your own custom CSS and even JavaScript. </p>

<p>Since the generated application is a set of standard ASP.NET files, you can move the application anywhere and use any compatible web server with it. </p>
