<h1>Stadium Designer</h1>
<img src="~/Images/StadiumDesigner.png" alt="" border="0" style="float:right;width:600px;height:auto;"><p>The Stadium Designer is a Windows desktop application that lets you design and generate professional ASP.NET MVC 5 applications in minutes.</p> 

<p><strong><a href="http://stadium.twenty57.com/" target="_new">Try Stadium beta now - for free</a></strong></p>

<hr>

<h2>Simple Design</h2>
<p>You can design professional web applications in four simple steps</p>

<ol class="orderedList">
	<li>Select <a href="~/controls">controls</a>, such as Data Grids, Form Fields, Labels, Buttons and drag them onto web pages </li>
	<li>Write SQL and populate controls with data from <a href="~/ApplicationExplorer/DataSources">a variety of data sources</a> </li>
	<li>Visually <a href="~/ApplicationExplorer/Scripts">create behaviours</a> by dragging actions onto the canvas of the Stadium script builder </li>
	<li><a href="~/ApplicationExplorer/Events">Attach events</a> to controls to launch your scripts </li>
</ol>

<hr>
<h2>Pages and Controls</h2>
<p>Use grids, panels or even tables to arrange a wide range of <a href="~/controls">controls</a> on web pages in our visual page builder. Drag and drop controls into place to show DataGrids, generate capture and edit forms with our form wizard or just drag on checkboxes, drop-downs, textboxes, buttons, radio buttons, file uploads and many more controls to make your own forms. </p>

<hr>
<h2>Templates</h2>
<p>Place common controls, such as menus on templates and share them amongst multiple pages. Templates are as easy to create as pages, simply by dragging controls onto a canvas.  </p>

<hr>
<h2>Queries and Data Sources</h2>
<p>Use your own SQL or Oracle databases or connect to any data source using ODBC. Then write your queries and hook them up to controls to quickly populate DataGrids, create dynamic drop-downs, radio button and checkbox lists with your own data. </p>

<hr>
<h2>Scripts and Actions</h2>
<p>Create scripts visually by dragging actions onto a canvas. Then hook up events to call scripts when users click buttons or links. In scripts you can execute SQL, call web services, fetch files, show message boxes and much more all controlled using common programming concepts, such as If/Else, ForEach and the like. </p>